<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @week.title %>
</p>

<p>
  <strong>Completed by:</strong>
  <%= @week.completed_by %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @week.completed %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
