<%=form_for(month, url: complete_month_path(month), method: :put) do |f|%>
  <% if month.completed? %>
    <%= f.check_box :completed, :disabled => true %>
    <%= f.text_field :title, "data-behavior" => "month_title_input", "data-original-value" => month.title %>
    <%= f.text_field :completed_by, "data-behavior" => "month_auth_input", "data-original-value" => month.completed_by %>
    <%= f.text_field :updated_at, "data-behavior" => "month_time_input", "data-original-value" => month.updated_at %>
    <button type="submit">UnComplete Task</button>
  <% else %> 
    <%= f.check_box :completed, :disabled => true %>
    <%= f.text_field :title, "data-behavior" => "month_title_input", "data-original-value" => month.title %>
    <%= f.hidden_field :completed_by %>
    <button type="submit">Complete Task</button>
  <% end %> 
<% end %> 
