<div class="reports_list">
  <h1>Listing Reports:</h1>

  <a href="javascript:void(0)" class="toggleDayLink">Show/Hide Days</a><br />
  <a href="javascript:void(0)" class="toggleWeekLink">Show/Hide Weeks</a><br />
  <a href="javascript:void(0)" class="toggleMonthLink">Show/Hide Months</a><br />
  <a href="javascript:void(0)" class="toggleBiannualLink">Show/Hide Biannuals</a><br />
  <a href="javascript:void(0)" class="toggleYearLink">Show/Hide Years</a><br />

  <div id="toggle_div_days" style="display:none">
  	<h2>Daily Report</h2>
    <%= render "days" %>
  </div>

  <div id="toggle_div_weeks" style="display:none">
  	<h2>Weekly Report</h2>
  	<%= render "weeks" %>
  </div>

  <div id="toggle_div_months" style="display:none">
  	<h2>Monthly Report</h2>
  	<%= render "months" %>
  </div>

  <div id="toggle_div_biannuals" style="display:none">
  	<h2>Biannual Report</h2>
  	<%= render "biannuals" %>
  </div>

  <div id="toggle_div_years" style="display:none">
  	<h2>Yearly Report</h2>
  	<%= render "years" %>
  </div>
</div>
