<%= form_for(@daily) do |f| %>
  <% if @daily.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily.errors.count, "error") %> prohibited this daily from being saved:</h2>

      <ul>
      <% @daily.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :completed_by %><br>
    <%= f.text_field :completed_by %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
