<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to "Dailies", dailies_path %></li>
  <li><%= link_to "Weeks", weeks_path %></li>
  <li><%= link_to "Months", months_path %></li>
  <li><%= link_to "Bi-Annuals", biannuals_path %></li>
  <li><%= link_to "Years", years_path %></li>
  <li><%= link_to "Report-Generator", report_index_path %></li>
<% else %> 
  <li><%=link_to 'Login', new_user_session_path %></li>
<% end %>
